* {
    box-sizing: border-box;
}
.indexColumn {
    display: flex;
    flex-direction: column;
}
.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    /* border: 1px solid #ededed; */
    height: 25px;
}
table {
    display: flex;
    flex-direction: column;
    border: 1px solid #f9f9f9;

}

tbody th {
  min-width: 5rem;
  background: #fafafa;
}

th {
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    /* background-color: #f9f9f9; */
    height: 25px;
}

td {
    border-top: 0.5px solid #f9f9f9;
    border-bottom: 0.5px solid #f9f9f9;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-weight: 200;
    height: 25px;
    background-color: transparent;
}

input {
    width: 50px;
    border: 0;
}

table:focus-within  {
    background-color: #dddddd;
}

.focus {
    background-color: #dddddd;
}

button {
    background-color: white;
    color: gray;
    border: 2px solid #c9cbe0;
    transition-duration: 0.4s;
    border-radius: 4px;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
}

button:hover {
    background-color: #c9cbe0;
    color: white;
}

.row_button {
    vertical-align:middle;
    padding: 25px;
}

.column_button {
    padding-left: 130px;
    padding-bottom: 20px;
    display: flex;
}
